module.exports = {
  env: {
    browser: true,
    es2021: true
  },
  extends: [
    'standard',
    'plugin:astro/recommended'
  ],
  overrides: [
    {
      files: ['*.astro'
      ],
      parser: 'astro-eslint-parser'
      parserOptions: {
        parser: '@typescript-eslint/parser'
        extraFileExtensions: ['.astro'
        ]
        sourceType: 'module'
      }
      rules: {
        'standard/no-callback-literal': 'off',
        'no-unused-vars': 'off',
        '@typescript-eslint/no-unused-vars': 'warn'
      }
    },
    {
      files: ['**/*.astro/*.js', '*.astro/*.js'],
      env: {
        browser: true,
        es2020: true
      },
      parserOptions: {
        sourceType: 'module'
      },
      rules: {
        'prettier/prettier': 'off'
      }
    }
  ]
}
